# Virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.coverage
htmlcov/
.tox/
.nox/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# VS Code
.vscode/

# macOS
.DS_Store

# SQLite cache database
cache.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
